.me-title {
    font-size: 18px;
    color: $color-white;
    margin-bottom: 20px;
}

.me-description {
    font-weight: 600;
    color: $color-white;
}

.me-text {
    color: $moon-chess;
}

.user-post-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    color: $color-white;
    grid-row-start: 1;
    grid-column: 2;
    grid-row-end: 3;
    overflow-y: auto;
}

.user-post {
    padding: 5px;
    box-shadow: 0 5px 10px 2px rgba(24, 40, 72, 0.2);
}

.post-title {
    margin-bottom: 10px;
}

.image-block {
    margin-top: 20px;
}

.image-small-size:hover + .image-full-size {
    opacity: 1;
    transform: translateX(0%);
}

.image-full-size {
    position: absolute;
    max-width: 600px;
    left: 1%;
    top: 20%;
    transform: translateX(-100%);
    opacity: 0;
    transition: .3s opacity, .3s transform;
}
