%button {
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $background-dark;
    background-color: $moon-chess;
    display: block;
    margin-bottom: 10px;
}

%input {
    padding: 10px 18px;
    border-radius: 8px;
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    margin-bottom: 20px;
}

%label {
    font-weight: 600;
    color: $color-white;
    margin-bottom: 7px;
    display: block;
    cursor: pointer;
}

%hint {
    font-size: 10px;
    color: $moon-chess;
}
