$color-social: #ec8b74;
$text-grey: dimgrey;
$color-violet: #be9de3;
$color-white: #cfe7dc;
$color-orange: #ff4e00;
$error: #FF0000;
$moon-chess: #ffb932;
$background-dark: #1b2d50;
$background: #31497d;
