@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');
@import "variable";
@import "extendalbe";

@import "pages/home";
@import "pages/registration";
@import "pages/me_page";

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to top right, #4b6cb7 0%, #182848 100%);
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.wrapper {
  width: 1300px;
  margin: 0 auto;
}

// Кнопки

.btn-login {
  background-color: $moon-chess;
  color: $background-dark;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 13px 19px;
  border: none;
  border-radius: 5px;
  transition: background-color .5s;
  font-family: 'Montserrat Alternates', sans-serif;
}
.btn-login:hover {
  background-color: $color-white;
}
.btn-login:active {
  background-color: $color-violet;
  color: $color-white;
}


// Header
.header {
  width: 100%;
  display: flex;
}

// Меню навигации
.menu {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu_nav {
  color: $color-violet;
  font-weight: 700;
  margin-left: 40px;
  padding-bottom: 10px;
}
.menu_nav:hover {
  border-bottom: 2px solid $color-orange;
}
.menu_nav:active {
  border-bottom: 2px solid $text-grey;
  color: $text-grey;
}
.router-link-active {
  border-bottom: 2px solid $text-grey;
  color: $text-grey;
}

//Home-Page
.blocks {
  display: grid;
  grid: 300px 300px/ 300px 3fr;
  grid-gap: 40px;
}

.moon {
  padding: 10px;
  background-image: url("../img/cheese_moon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.stair {
  height: 350px;
  padding-left: 40px;
}

.mouse {
  height: 100px;
  -webkit-border-vertical-spacing: 40px;
}


// Построим вместе лестницу до Луны!
.text {
  padding-top: 20px;
  font-size: 40px;
  letter-spacing: 3px;
  color:transparent;
  -webkit-background-clip: text;
  background-color: #D9AFD9;
  background-image: linear-gradient(270deg, #D9AFD9 0%, #97D9E1 100%);
  font-family: 'Montserrat Alternates', sans-serif;
  &__p{
    font-size: 25px;
    background-color: #e5af76;
    background-image: linear-gradient(180deg, #e86d34 30%, #82cadb);
  }
}



// Футер

.footer_grey {
  height: 79px;
  margin-top: 50px;
  display: flex;
  color: $color-orange;
}
.footer_box {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.social {
  display: flex;
}
.social_f {
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border: 1px solid  #ffffff;
  border-radius: 50%;
  margin-right: 8px;
  padding: 5px;
  font-size: 20px;
  color: $text-grey;
  text-align: center;
}
.social_f:hover {
  background-color: $color-social;
  border: 1px solid $color-social;
}
.social_f:active {
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    color: $color-social;
}
